* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #95adbe;
  --secondary-color: #ff7a5c;
  --color-black: #000000;
  --color-black-dark: #1a1a1a;
  --color-black-light: #999999;
  --color-white: #ffffff;
  --color-white-light: #f5f5f0;
  --primary-font: "Lora", serif;
  --secondary-font: "Roboto", serif;
}

/* Home Stylings */
.home {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(./images/home-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.header-content {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 1rem;
  margin: 0;
  z-index: 1000;
  height: 12rem;
}

.nav-logo {
  padding-bottom: 6rem;
}

.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  padding-bottom: 3rem;
}

a {
  text-decoration: none;
  color: var(--color-white);
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 1.5rem;
}

/* End of Home Stylings */
